<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, td, th {
            border: 1px solid black;
        }
    </style>

</head>
<body>
<h1>
    Here are a list of samples
</h1>

<a href="{% url 'sample-new'  %}">create a new sample</a>
<br>
<br>

<table>
    <thead>
    <th>date</th>
    <th>sampler name</th>
    <th>location</th>
    </thead>
    <tbody>

    {% for object in object_list %}
        <tr>
            <td>{{ object.date }}</td>
            <td>{{ object.sampler_name }}</td>
            <td>{{ object.location }}</td>
            <td><a href="{% url 'sample-detail' object.id %}">view details</a></td>
        </tr>
    {% endfor %}

    </tbody>


</table>

</body>
</html>