<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include "samples/_style.html" %}
</head>
<body>
<h1>
    {{ object }}
</h1>
<a href="{% url 'sample-list' %}">back to sample list</a>
<br>
<br>
<table>
    <tr>
        <th>id</th>
        <td>{{ object.id }}</td>
    </tr>
    <tr>
        <th>sampler name</th>
        <td>{{ object.sampler_name }}</td>
    </tr>
    <tr>
        <th>location</th>
        <td>{{ object.location }}</td>
    </tr>
    <tr>
        <th>remarks</th>
        <td>{{ object.remarks }}</td>
    </tr>
</table>

<br>
<br>


<a href="{% url 'obs-new' object.id %}">new observation</a>
<h3>Here is a list of related observations</h3>

<table>


    <thead>
    <th>id</th>
    <th>length</th>
    <th>weight</th>
    <th>sex</th>
    <th>maturity</th>
    <th>gonad weight</th>
    <th>parasites?</th>
    <th>remarks</th>


    </thead>
    <tbody>
    {% for obs in object.observations.all %}
        <tr>
            <td>{{ obs.id }}</td>
            <td>{{ obs.length }}</td>
            <td>{{ obs.weight }}</td>
            <td>{{ obs.get_sex_display }}</td>
            <td>{{ obs.get_maturity_display }}</td>
            <td>{{ obs.gonad_weight }}</td>
            <td>{{ obs.parasite }}</td>
            <td>{{ obs.remarks }}</td>
            <td>

                (<a href="{% url 'obs-edit' obs.id %}">edit</a>)
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>


</body>
</html>


